{{#each threads as |thread|}}
<div></div>
  <div class="card" id={{id}}>
    <h5 class="card-header" id={{id}}>{{title}}</h5>
    <div class="card-body" id={{id}}>
      <p class="card-text" id={{id}}>{{text}}</p>
    </div>
  </div>
</div>
{{/each}}
